<style>
#map { position:absolute; top:200px; bottom:200px; width:100%; }

#place-holder{
  height: 800px;
}

body{
  background-color:#e6ffff
}

#map-title{
  margin-top: 120px;
  margin-left: 20px
}

div.leaflet-popup{
  width: 600px;
}

p{
  width: 600px;
}
img {
  max-width:200%;
  }
</style>

<h1 id="map-title"> More information about the map</h1>
<div id='map'></div>

<div id="place-holder">

</div>
<div class="text-muted">
    <p>This is a visual display of my thesis research studying a method of forest change detection using satellite imagery. The technique uses traditional remote sensing methods to identify areas where land cover surpassed a threshold of change from 2014 to 2015 in Eldorado National Forest, located in the Sierra Nevada Mountain Range of California.
    <p>Methods include</p>
    <ul>
      <li>Landsat 8 ETM Images</li>
      <li>The tasseled cap transformation</li>
    </ul>
    <p> A unique aspect of the project</p>
</div>


