<h1>Mapviewer#index</h1>
<p>Find me in app/views/mapviewer/index.html.erb</p>
<style>

div.leaflet-popup{
  width: 600px;
}

p{
  width: 600px;
}
img {
  max-width:200%;
  }
</style>

<div id='map'></div>

