    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="http://chromescraper.com/img/portfolio/cabin.png" alt="">
                    <div class="intro-text">
                        <span class="name">Karla King</span>
                        <hr class="star-light">
                        <span class="skills">Remote Sensing - Web Development - Cartographic Design</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a web developer who is passionate about mapping technology and environmental sustainability. I have experience with Ruby and JavaScript programming languages. Areas of interest include back end development and data visualization. </p>
                </div>
                <div class="col-lg-4">
                    <p>My objective is to create technology that protects the environment.
                    I'm looking for a fast paced and innovative environment that presents a challenge. I learn quickly and thrive when confronted with a specific problem. Contact me if you'd like to connect.</p>
                </div>
            </div>
        </div>
    </section>
