
<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a web developer who is passionate about mapping technology and environmental sustainability. I have experience with Ruby and JavaScript programming languages. Areas of interest include back end development, data visualization, and raster analysis. </p>
                </div>
                <div class="col-lg-4">
                    <p>My objective is to create technology that protects the environment.
                    I'm looking for a fast-pace work place that presents a challenge. I learn quickly and thrive when confronted with a specific problem. Check out my contact information if you want to get in touch!</p>
                </div>
            </div>
        </div>
    </section>
